<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Łacina dla prawników</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link disabled">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Wyrażenia
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="latintopolish">
                <span class="oi oi-list" aria-hidden="true"></span> Łaciński -> polski
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="polishtolatin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Polski -> łaciński
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link disabled">
                <span class="oi oi-script" aria-hidden="true"></span> Sentencje
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sentenceslatintopolish">
                <span class="oi oi-list" aria-hidden="true"></span> Łaciński -> polski
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sentencespolishtolatin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Polski -> łaciński
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
